In [1]:
import numpy as np
import pandas as pd
import plotly as pl
import plotly.offline as po
import cufflinks as cf

In [2]:
po.init_notebook_mode(connected=True)
cf.go_offline()

In [ ]:
def createdata(data):
    if(data==1):
        x=np.random.rand(100,5)
        df1=pd.DataFrame(x,columns=['A','B','C','D','E'])
    elif(data==2):
        x=[0,0,0,0,0]
        r1=[0,0,0,0,0]
        r2=[0,0,0,0,0]
        r3=[0,0,0,0,0]
        r4=[0,0,0,0,0]
        print('Enter the values of columns')
        i=0
        for i in [0,1,2,3,4]:
            x[i]=input()
            i=i+1
        print('Enter the values for first row ')
        for i in [0,1,2,3,4]:
            r1[i]=int(input())
            i=i+1
        print('Enter the values for second row ')
        for i in [0,1,2,3,4]:
            r2[i]=int(input())
            i=i+1
        print('Enter the values of third row ')
        for i in [0,1,2,3,4]:
            r3[i]=int(input())
            i=i+1
        print('Enter the values of fourth row ')
        for i in [0,1,2,3,4]:
            r4[i]=int(input())
            i=i+1   
        df1=pd.DataFrame([r1,r2,r3,r4],columns=x)
    elif(data==3):
        file=input('Enter the file name ')
        x=pd.read_csv(file)
        df1=pd.DataFrame(x)
    else:
        print('Data Can not be created please re-enter the required value!! ')
    return df1

In [ ]:
print('Select the type of Data you want to plot (by selecting 1,2 or 3 )')
print('1. Random data with 100 rows and 5 columns ')
print('2. Customize DataFrame with 5 columns and 4 rows ')
print('3. Upload csv/json/txt file')
data=int(input())
df1=createdata(data)

Select the type of Data you want to plot (by selecting 1,2 or 3 )
1. Random data with 100 rows and 5 columns
2. Customize DataFrame with 5 columns and 4 rows
3. Upload csv/json/txt file

In [6]:
df1.head(10)

          A         B         C         D         E
0  0.445909  0.485551  0.192487  0.122906  0.802542
1  0.880574  0.206715  0.466485  0.375255  0.639292
2  0.035046  0.320721  0.552628  0.259906  0.869860
3  0.566269  0.701641  0.950947  0.297253  0.248507
4  0.117602  0.329400  0.019134  0.288428  0.115199
5  0.534561  0.309478  0.960877  0.805553  0.114127
6  0.567479  0.333953  0.808854  0.319157  0.871809
7  0.478955  0.310433  0.753684  0.919459  0.790322
8  0.970817  0.363555  0.552397  0.421068  0.672520
9  0.958873  0.690541  0.503370  0.829204  0.454850