In [2]:
import pandas as pd
import plotly as py
import plotly.offline as po
import plotly.graph_objs as go
%matplotlib inline

In [3]:
po.init_notebook_mode(connected=True)

In [4]:
agri=pd.read_csv('agri.csv')

In [5]:
agri.head(10)

,code,state,category,total exports,beef,pork,poultry,dairy,fruits fresh,fruits proc,total fruits,veggies fresh,veggies proc,total veggies,corn,wheat,cotton,text
0,AL,Alabama,state,1390.63,34.4,10.6,481.0,4.06,8.0,17.1,25.11,5.5,8.9,14.33,34.9,70.0,317.61,Alabama<br>Beef 34.4 Dairy 4.06<br>Fruits 25.1...
1,AK,Alaska,state,13.31,0.2,0.1,0.0,0.19,0.0,0.0,0.00,0.6,1.0,1.56,0.0,0.0,0.00,Alaska<br>Beef 0.2 Dairy 0.19<br>Fruits 0.0 Ve...
2,AZ,Arizona,state,1463.17,71.3,17.9,0.0,105.48,19.3,41.0,60.27,147.5,239.4,386.91,7.3,48.7,423.95,Arizona<br>Beef 71.3 Dairy 105.48<br>Fruits 60...
3,AR,Arkansas,state,3586.02,53.2,29.4,562.9,3.53,2.2,4.7,6.88,4.4,7.1,11.45,69.5,114.5,665.44,Arkansas<br>Beef 53.2 Dairy 3.53<br>Fruits 6.8...
4,CA,California,state,16472.88,228.7,11.1,225.4,929.95,2791.8,5944.6,8736.40,803.2,1303.5,2106.79,34.6,249.3,1064.95,California<br>Beef 228.7 Dairy 929.95<br>Frui...
5,CO,Colorado,state,1851.33,261.4,66.0,14.0,71.94,5.7,12.2,17.99,45.1,73.2,118.27,183.2,400.5,0.00,Colorado<br>Beef 261.4 Dairy 71.94<br>Fruits 1...
6,CT,Connecticut,state,259.62,1.1,0.1,6.9,9.49,4.2,8.9,13.10,4.3,6.9,11.16,0.0,0.0,0.00,Connecticut<br>Beef 1.1 Dairy 9.49<br>Fruits 1...
7,DE,Delaware,state,282.19,0.4,0.6,114.7,2.30,0.5,1.0,1.53,7.6,12.4,20.03,26.9,22.9,0.00,Delaware<br>Beef 0.4 Dairy 2.3<br>Fruits 1.53 ...
8,FL,Florida,state,3764.09,42.6,0.9,56.9,66.31,438.2,933.1,1371.36,171.9,279.0,450.86,3.5,1.8,78.24,Florida<br>Beef 42.6 Dairy 66.31<br>Fruits 137...
9,GA,Georgia,state,2860.84,31.0,18.9,630.4,38.38,74.6,158.9,233.51,59.0,95.8,154.77,57.8,65.4,1154.07,Georgia<br>Beef 31.0 Dairy 38.38<br>Fruits 233...

In [6]:
data=dict(type='choropleth',locations=['AL','AK','AZ','AR','CA'],locationmode='USA-states',z=[1,2,30,40,50],text=['alabama','alaska','arizona','pugger','california'])

In [7]:
layout=dict(geo={'scope':'usa'})

In [12]:
x=go.Figure(data=[data],layout=layout)

In [15]:
po.plot(x)  #also u can use po.iplot(x)

'temp-plot.html'

In [28]:
data1=dict(type='choropleth',locations=agri['code'],locationmode='USA-states',z=agri['total exports'],text=agri['text'],colorscale='Portland')

In [29]:
layout1=dict(title='AGRI PLOT',geo=dict(scope='usa'))

In [30]:
x1=go.Figure(data=[data1],layout=layout1)

In [31]:
po.plot(x1) #also u can use po.iplot(x1)

'temp-plot.html'

In [32]:
#global plot

In [34]:
gdp=pd.read_csv('gdp.csv')

In [35]:
gdp.head(10)

               COUNTRY  GDP (BILLIONS) CODE
0          Afghanistan           21.71  AFG
1              Albania           13.40  ALB
2              Algeria          227.80  DZA
3       American Samoa            0.75  ASM
4              Andorra            4.80  AND
5               Angola          131.40  AGO
6             Anguilla            0.18  AIA
7  Antigua and Barbuda            1.24  ATG
8            Argentina          536.20  ARG
9              Armenia           10.88  ARM

In [39]:
data2=dict(type='choropleth',locations=gdp['CODE'],z=gdp['GDP (BILLIONS)'],text=gdp['COUNTRY'])

In [40]:
layout2=dict(title='GDP geo-plot',geo=dict(projection={'type':'hammer'}))

In [42]:
x2=go.Figure(data=[data2],layout=layout2)

In [44]:
po.plot(x2)

'temp-plot.html'

In [45]:
layout3=dict(title='GDP geo-plot',geo=dict(projection={'type':'stereographic'}))

In [46]:
x3=go.Figure(data=[data2],layout=layout3)

In [47]:
po.plot(x3)

'temp-plot.html'